{% extends "admin/base_site.html" %}

{% block content %}
{% if num_imported %}
    Успешно добавлено {{ num_imported }} читателей!
{% elif missing_columns %}
    В вашем файле отсутствуют следующие колонки:
    <ul>
        {% for col in missing_columns %}
        <li>{{ col }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ message }}
    <p>{{ form.non_field_errors }}</p>

    <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>

    <p>
        {{ form.file.errors }}
        {{ form.file }}
    </p>

    <p><input type="submit" value="Upload"/></p>
</form>
{% endblock %}