{% extends 'utils/custom_admin_view.html' %}
{% load static %}

{% block content %}
  <h2>Выберите класс, в который нужно перевести учеников</h2>
  <form action="{% url 'readers-change-group' %}" method="post">
    {% csrf_token %}
    <div>
      <label>Класс:
        <input type="text" name="group" required style="margin-left: 10px;"/>
      </label>
      <ol>
        {% for student in students %}
        <input type="hidden" name="students" value="{{student.id}}">
          <li>{{ student.name }} ({{ student.group }})</li>
        {% endfor %}
      </ol>
    </div>
    <div>
      <button class="button default" style="float: none; padding: 10px 15px;">ПЕРЕВЕСТИ</button>
      <button class="button" onclick="history.back()" style="padding: 10px 15px;">Отменить</button>
    </div>
  </form>
{% endblock %}