{% extends "admin/base_site.html" %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Начало</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='readersRecords' %}">Формуляры читателей</a>
&rsaquo; <a href="/admin/readersRecords/reader/">Читатели</a>
&rsaquo; Импортировать читателей из excel файла
</div>
{% endblock %}

{% block content %}
{% if num_imported %}
<ul class="messagelist">
    <li class="success">Успешно добавлено {{ num_imported }} читателей.</li>
</ul>
{% elif missing_columns %}
<ul class="messagelist">
    <li class="error">
        Не удалось найти следующие колонки в файле:
        {{ missing_columns|join:", " }}
    </li>
</ul>
{% elif bad_format %}
<ul class="messagelist">
    <li class="error">
        Некорректный формат файла. Допустимый формат: таблица Excel (<i>.xlsx</i>)
    </li>
</ul>
{% endif %}
<p>
    <a href="{% static 'etc/шаблон импорта учеников.xlsx' %}">Скачать</a> шаблон таблицы Excel для импорта учеников.
</p>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Загрузить" />
</form>
{% endblock %}