{% extends "importExport/import.html" %}
{% load static %}

{% block extrastyle %}
{{block.super}}

<style>
    .required::after {
        content: "*";
        color: #b72f2f;
    }
</style>
{% endblock %}


{% block import-instructions %}
<div>
    <p>
        Здесь вы можете добавить читателей из файла Excel (расширение <i>.xlsx</i> или <i>.csv</i>) или изменить существующих.
        Файл должен соответствовать <a href="{% static 'readers-import/шаблон импорта читателей.xlsx' %}"
            style="text-decoration: underline;">шаблону</a>.
        <br /> Все поля кроме “имени” можно не указывать.
    </p>
    <section>
        Возможные заголовки столбцов в таблице:
        <ul class="big-list">
            <li><b class="required">Имя</b>: фамилия и имя читателя. Например: <i>Иванов Иван</i>.</li>
            <li><b>Класс</b>: класс ученика в любом формате, например <i>10а</i>, <i>10 (а)</i> или <i>10-А</i> (любой вариант будет нормализован). Для учеников обязательно. Для учителей поле не указывать.</li>
            <li><b>Профиль</b>: профиль ученика, например: <i>БИО</i>, <i>ИТ</i>.</li>
            <li>
                <b>Язык 1</b> и <b>язык 2</b>: первый и второй иностранные языки ученика (например, анг — английский,
                фра — французкий, нем — немецкий).
            </li>
            <li><b>Роль</b>: роль читателя. Возможные значения:
                <ul>
                    <li><b>ST</b> — ученик;</li>
                    <li><b>TE</b> — учитель;</li>
                    <li><b>OTH</b> — иной.</li>
                </ul>
            </li>
        </ul>
        <b style="color: #b72f2f;">*обязательное поле</b>
    </section>

    <section>
        Кроме того, вместо добавления новых читателей вы можете изменить существующих, для этого вам нужно скачать
        файл с читателями с <a href="{% url 'admin:readersRecords_reader_changelist' %}">этой страницы</a>:
        <img src="{% static 'readers-import/import-instructions.png' %}" style="padding: 25px 0 25px 0;">
        <br>
        Теперь вы можите изменить этот файл, а затем загрузить его здесь.
        <p style="color: #b72f2f; font-weight: bold; font-size: 2em;">
            Ни в коем случае не меняйте и не удаляйте поле id!
        </p>
    </section>
</div>
{% endblock %}