{% extends "importExport/import.html" %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Начало</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='readersRecords' %}">Формуляры читателей</a>
    &rsaquo; <a href="/admin/readersRecords/reader/">Читатели</a>
    &rsaquo; {{title}}
</div>
{% endblock %}


{% block import-instructions %}
<div>
    <div class="paragraph">
        Здесь вы можете загрузить базу читателей из файла Excel (расширение <i>.xlsx</i> или <i>.csv</i>).
        Файл должен соответствовать <a href="{% static 'readers-import/шаблон импорта читателей.xlsx' %}"
            style="text-decoration: underline;">шаблону</a>.
        <br /> Все поля кроме “имени” можно не указывать.
    </div class="paragraph">
    <div class="paragraph">
        Возможные заголовки столбцов в таблице:
        <ul class="big-list">
            <li><b>Имя<span style="color: #b72f2f;">*</span></b>: фамилия и имя читателя. Например: <i>Иванов Иван</i>.</li>
            <li><b>Класс</b>: класс ученика без пробела, например <i>10а</i>. В случае импорта учителя, поле не
                указывать.</li>
            <li><b>Профиль</b>: профиль ученика, например: <i>БИО</i>, <i>ИТ</i>.</li>
            <li>
                <b>Язык 1</b> и <b>язык 2</b>: первый и второй иностранные языки ученика (например, анг — английский,
                фра — французкий, нем — немецкий)
            </li>
            <li><b>Роль</b>: роль читателя. Возможные значения:
                <ul>
                    <li><b>ST</b> — ученик;</li></li>
                    <li><b>TE</b> — учитель;</li></li>
                    <li><b>OTH</b> — иной.</li></li>
                </ul>
        </ul>
        <b style="color: #b72f2f;">*обязательное поле</b>
    </div>

    <div class="paragraph">
        Кроме того, вместо создания новых читателей, вы можете изменить существующих, для этого вам нужно скачать
        базу читателей с этой <a href="{% url 'admin:readersRecords_reader_changelist' %}">страницы</a>:
        <img src="{% static 'readers-import/import-instructions.png' %}" style="padding: 25px 0 25px 0;">
        <br>
        Таким образом вы скачаете Excel файл, в котором будут выбранные читатели. Теперь вы можете изменить
        этот файл, а затем загрузить эти изменения здесь.
        <p style="color: #b72f2f; font-weight: bold; font-size: 2em;">
            Ни в коем случае не меняйте поле id!
        </p>
    </div>
</div>
{% endblock %}