{% extends "importExport/import.html" %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Начало</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='readersRecords' %}">Формуляры читателей</a>
    &rsaquo; <a href="/admin/readersRecords/reader/">Читатели</a>
    &rsaquo; Импортировать читателей
</div>
{% endblock %}


{% block import-instructions %}
<div>
    <div class="paragraph">
        Здесь вы можете импортировать читателей из файла Excel (расширение <i>.xlsx</i> или <i>.csv</i>).
        Файл должен соответствовать <a href="{% static 'etc/шаблон импорта читателей.xlsx' %}"
            style="text-decoration: underline;">шаблону</a>.
        <br /> Все стоблцы, кроме столбца “имя”, можно не указывать, более того, можно удалить ненужные столбцы.
    </div class="paragraph">
    <div class="paragraph">
        Возможные заголовки столбцов в таблице:
        <ul class="big-list">
            <li><b>Имя</b>: фамилия и имя читателя. Например: <i>Иванов Иван</i>.</li>
            <li><b>Класс</b>: класс ученика без пробела, например <i>10а</i>. В случае импорта учителя, поле не
                указывать.</li>
            <li><b>Профиль</b>: профиль ученика, например: <i>БИО</i>, <i>ИТ</i>.</li>
            <li>
                <b>Язык 1</b> и <b>язык 2</b>: первый и второй иностранные языки ученика в формате ISO 639-1.<br />
                Коды языков: en – английский, de – немецкий, fr – французкий, zh – китайский, it – итальянский.
            </li>
        </ul>
    </div>
    <div class="paragraph">
        Кроме того, вместо импорта новых читателей, вы можете изменить существующих, для этого вам нужно экспортировать
        нужных вам читателей с этой <a href="{% url 'admin:readersRecords_reader_changelist' %}">страницы</a>:
        <ol class="big-list">
            <li>Примените нужные фильтры (справа). Например, фильтр по классу.</li>
            <li>Выделите читателей, информацию о которых вы хотите измненить, галочками в первом столбце. Также можно
                выбрать всех читателей (учитывая фильтр).</li>
            <li>Действие: экспортировать выбранных читателей<br /></li>
        </ol>
        Таким образом, вы скачаете Excel файл, в котором будут выбранные читатели. Теперь вы можете изменить нужную
        информацию в этом файле, а затем импортировать эти изменения здесь. <br/> Ни в коем случае не меняйте поле id!
    </div>
</div>
{% endblock %}