{% extends 'utils/custom_admin_view.html' %}

{% block extrastyle %}
  <style>
    #confirm-button,
    #cancel-button {
      display: inline-block;
      border-radius: 4px;
      vertical-align: middle;
      padding: 10px 15px;
      height: 15px;
      line-height: 15px;
      cursor: pointer;
      transition: background 0.15s;
    }
    #confirm-button {
      background: var(--delete-button-bg);
      color: var(--button-fg);
    }
    
    #confirm-button:hover {
      background: var(--delete-button-hover-bg);
    }
    
    #cancel-button {
      color: var(--button-fg);
      background: var(--close-button-bg);
      margin: 0 0 0 10px;
    }
    
    #cancel-button:hover {
      background: var(--close-button-hover-bg);
    }
  </style>
{% endblock %}

{% block content %}
{% if graduating %}
<p>
  Вы уверены? Все ученики будут переведены в следующий класс, а выпускающиеся — будут <b style="color: var(--delete-button-bg);">удалены</b>.
</p>
  <p>У всех выпускающихся сданы все книги.</p>
  <details>
    <summary>Ученики, которые будут удалены ({{graduating|length}} человек)</summary>
    <ol>
      {% for s in graduating %}
      <li>{{ s.name }} ({{ s.group }})</li>
      {% endfor %}
    </ol>
  </details>
  {% else %}
  <p>Вы уверены? Все ученики будут переведены в следующий класс.</p>
  <p>Кроме того, выпускающихся нет. Никто не будет удален.</p>
  {% endif %}
  <div>
    <a id="confirm-button" href="{% url 'readers-update-grade' %}?confirm">Да, перевести всех и удалить выпускающихся</a>
    <a id="cancel-button" href="javascript:history.back()">Нет, вернуться к списку читателей</a>
  </div>
{% endblock %}
