.inline-group .tabular tr td.original {
    opacity: 0;
}

.inline-group .tabular tr.has_original td {
    padding-top: inherit !important;
}

td.field-price *, td.field-get_sum *,
td.field-price, td.field-get_sum, td.field-get_grand_total {
    text-align: right;
}