/* -----LOG LIST----- */
.log-list {
    padding: 0;
    margin: 0;
}

.log-list__item {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 2px 0;
    background-size: 16px auto;
    color: var(--body-fg);
}

.log-list__item--add {
    background: var(--message-success-bg) url(../img/plus.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}

.log-list__item--warning {
    background: var(--message-warning-bg) url(../img/warning.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}

.log-list__item--delete {
    background: var(--message-error-bg) url(../img/minus.svg) 40px 12px no-repeat;
    background-size: 16px auto;
}

.log-list__item--stricken {
    text-decoration: line-through;
}


/* -----BOOK COUNTER----- */
.book-counter {
    text-align: center;
    width: fit-content;
    border: 1px solid var(--hairline-color);
    border-top: none;
}

.book-counter__inner {
    padding: 0 5px;
    float: left;
}

.book-counter__inner--overall {
    border: dotted 4px var(--hairline-color);
    margin-top: -4px;
}

label.book-counter__label {
    width: auto;
    float: none;
    padding: 0;
    margin-bottom: -12px;
}

.book-counter__number {
    font-size: 4em;
}

.book-counter__number--added {
    color: #10e621;
}

.book-counter__number--deleted {
    color: #79aec8;
}

/* -----ETC----- */
.related-widget-wrapper {
    overflow: unset;
}

div.choices__list--multiple .choices__item {
    font-size: 13px;
}

a.related-widget-wrapper-link {
    display: none;
}

div.choices {
    margin-bottom: 0;
}