{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      {% blocktranslate with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktranslate %}
    </a>
  </li>
  <li>
    <!-- "{% url 'booksRecords:get_bookInstance_info' "E123" %}" -->
    <a href="#" class="importlink">Импортировать читателей из csv файла</a>
  </li>
  <li>

  </li>
  {% endif %}
{% endblock %}
